<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page_title }}</title>
    <link rel="stylesheet" href="/static/styles.css">

    <script>
      document.addEventListener('DOMContentLoaded', () => {
        document.querySelectorAll("time").forEach(function(datetimeElement) {
          const isoDate = new Date(datetimeElement.dateTime);
          const formattedDate = isoDate.toLocaleString();
          datetimeElement.textContent = formattedDate;
        })
      });
    </script>

  </head>

  <body>
    <section class="header">
      <div class="theme-switcher">
        <button id="theme-toggle" aria-label="Toggle theme">
          <svg class="sun-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
            <circle cx="12" cy="12" r="5"/>
            <line x1="12" y1="1" x2="12" y2="3"/>
            <line x1="12" y1="21" x2="12" y2="23"/>
            <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"/>
            <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"/>
            <line x1="1" y1="12" x2="3" y2="12"/>
            <line x1="21" y1="12" x2="23" y2="12"/>
            <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"/>
            <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"/>
          </svg>
          <svg class="moon-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
            <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"/>
          </svg>
        </button>
      </div>
    </section>
    <section class="content">
      {% block content %}
      {% endblock %}
    </section>

    <!-- Footer with copyright information -->
    <footer>
      <div class="container">
        <div class="row">
          <p>Beta Distribution</p>
          <p>{% if logo_url %} 
            <img class="img" src="{{logo_url}}" alt="logo" />
            {% else %}
            &copy; 2025 Embedit
            {% endif %}</p>
        </div>
      </div>
    </footer>
    
    <script>
      // JavaScript for theme toggling
      const themeToggle = document.getElementById('theme-toggle');
      // Get the current theme
      let isDark = document.documentElement.getAttribute('data-theme') === 'dark';

      // Toggle theme on click
      themeToggle.addEventListener('click', () => {
        isDark = !isDark;
        document.documentElement.setAttribute('data-theme', isDark ? 'dark' : 'light');
      });
     
      // Set initial theme based on system preference
      const prefersDark = window.matchMedia('(prefers-color-scheme: dark)').matches;
      if (prefersDark) {
          themeToggle.checked = true;
          document.documentElement.setAttribute('data-theme', 'dark');
      } else {
          document.documentElement.setAttribute('data-theme', 'light');
      }
    </script>    
  </body>

</html>
