{% extends "base.jinja.html" %}

{% block content %}
  <main>
    <div class="container"> <!-- Main container for the content -->
      <!-- Header announcing the new app version -->
      <h1>A new version of <span class="highlight">{{ build_info.app_title }}</span> for {{ build_info.platform.display_name}} is available.</h1>
      <!-- Card section displaying app details -->
      <div class="card">
          <p><img src="/static/{{ build_info.platform.platform_name }}.svg" alt="{{ build_info.app_title }}" class="logo"> <!-- App logo --></p>
          <h2>{{ build_info.app_title }}</h2> <!-- App name -->
          <p class="bundle">{{ build_info.bundle_id }}</p>
          <p class="version">{{ build_info.bundle_version }}</p> <!-- Version and build number -->
          <p class="filesize">{{ build_info.human_file_size }}</p>

          <div class="qr">
            {{qr_code_svg|safe}}
          </div>
          <a href="{{install_url}}" class="install-btn">Install</a> <!-- Call-to-action button for installation -->
          {% if changelog %}
            <a href="#" class="whats-new-link">Show me what's new in this build, please.</a> <!-- Link to the changelog section -->
          {% endif %}
      
      </div>
      
    </div>
  </main>
  
    {% if changelog %}
    
      <div id="changelog" class="whats-new">
          <h3>What's new</h3>
          <p>New build of app available for internal testing</p> <!-- Short description of the update -->
          {{ changelog|safe }}
      </div>
    
    {% endif %}
  
    <script>
      document.querySelector('.whats-new-link').addEventListener('click', function(e) {
        e.preventDefault();
        document.querySelector('#changelog').scrollIntoView({ behavior: 'smooth' });
      });
    </script>
{% endblock %}